## Create a DataFrame incorporating different data structures

In [1]:
import numpy as np
import pandas as pd

grades_module1 = {'Marvin Minsky': 5.7, 'John McCarthy': 6.2, 'Claude Shannon': 6.5, 'Alan Turing': 7.0}
grades_module2 = [('Marvin Minsky', 8.0), ('John McCarthy', 8.5), ('Claude Shannon', 8.0), ('Alan Turing', 9.0)]
grades_module3 = {('Marvin Minsky', 9.5), ('John McCarthy', 8.9), ('Claude Shannon', 8.7), ('Alan Turing', 9.1)}
grades_module4 = [3.3, 4.5, 6.7, 8.9]
import numpy as np
grades_module5 = np.array([3.5, 4.1, 2.1, 9.3])
grades_module6 = pd.Series([8.3, 6.5, 5.7, 5.9])
grades_module7 = pd.Series([3.3, 4.5, 6.7, 8.9], index=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing'])
grades_module8 = pd.Series({'Marvin Minsky': 5.7, 'John McCarthy': 6.2, 'Claude Shannon': 6.5, 'Alan Turing': 7.0})

In [2]:
# grades_module6.index= ['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing']
df = pd.DataFrame({
    'Module 1': grades_module1,
    'Module 2': dict(grades_module2),
    'Module 3': dict(grades_module3),
    'Module 4': pd.Series(grades_module4, index=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing']),
    'Module 5': pd.Series(grades_module5, index=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing']),
    'Module 6': pd.Series(grades_module6.values, index=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing']),
    # 'Module 6': dict(zip(['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing'], grades_module6.values)),
    'Module 7': grades_module7,
    'Module 8': grades_module8
    })
    
df

,Module 1,Module 2,Module 3,Module 4,Module 5,Module 6,Module 7,Module 8
Marvin Minsky,5.7,8.0,9.5,3.3,3.5,8.3,3.3,5.7
John McCarthy,6.2,8.5,8.9,4.5,4.1,6.5,4.5,6.2
Claude Shannon,6.5,8.0,8.7,6.7,2.1,5.7,6.7,6.5
Alan Turing,7.0,9.0,9.1,8.9,9.3,5.9,8.9,7.0